body {
    text-align: left;
    padding: 4em;
}

code {
    display: inline-block;
    padding: 0.1em;
    background-color: #181818;
    border-radius: 3px;
    border: solid 1px #101010;
}

#article_header {
    text-align: center;
}

#article_title {
    margin-bottom: 0px;
}

#article_date {
    margin: 0.2em;
    color: #E0E0E0;
}
